{% extends 'base.html' %}
{% load static %}
{% block title %} Login {% endblock title %}
{% block content %}     
 <div class="wrapper">
   
    <div class="form-box">
        <div class="login-container" id="login">
            <div class="top">
                <span>Don't have an account? <a href="#" onclick="register()">Register</a></span>
                <header>Login</header>
            </div>
            <form action="{% url 'login-page' %}" method="post">
                {% csrf_token %}
                <input type="text" name="username" class="input-field" placeholder="Username">
                
                <input type="password" name="password" class="input-field" placeholder="Password">
                <button type="submit" class="submit">Register</button>
            </div>
            </form>
        </div>
    </div>
</div>   

{% endblock content %}