{% extends 'base.html' %}
{% load static %}
{% block title %} Sign up {% endblock title %}
{% block content %}     
{% block css %}
<link rel="stylesheet" href="{% static 'css/register.css' %}">
{% endblock css %}

 <div class="wrapper">
   
         
            <form method="post">
                {% csrf_token %}
                <div class="register-container" id="register">
                    <div class="top">
                        <span>Have an account? <a href="#" onclick="login()">Login</a></span>
                        <header>Sign Up</header>
                    </div>
                    <div class="two-forms">
                        <div class="input-box">
                            <input type="text" class="input-field" placeholder="Firstname" required>
                            <i class="bx bx-user"></i>
                        </div>
                        <div class="input-box">
                            <input type="text" class="input-field" placeholder="Lastname" required>
                            <i class="bx bx-user"></i>
                        </div>
                    </div>
                    <div class="input-box">
                        <input type="text" class="input-field" placeholder="Email" required>
                        <i class="bx bx-envelope"></i>
                    </div>
                    <div class="input-box">
                        <input type="password" class="input-field" placeholder="Password" required>
                        <i class="bx bx-lock-alt"></i>
                    </div>
                    <button class="submit">Sign up</button>
                </div>
               
            </form>
</div>   

{% endblock content %}