{% extends 'base.html' %}
{% load static %}
{% block title %} Register {% endblock title %}
{% block content %}    


{% block css %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock css %}


 <div class="wrapper">
   
         
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Sign up</button>
            </form>
</div>   


{% block js %} <script src="{% static 'app.js' %}"></script>  {% endblock js %}

{% endblock content %}