{% extends 'base.html' %}
{% load static %}
{% block title %} Contact {% endblock title %}
{% block content %}     


   <!-- Body main wrapper start -->
   <main>

      <!-- Breadcrumb area start  -->
      <div class="breadcrumb__area theme-bg-1 p-relative z-index-11 pt-95 pb-95">
         <div class="breadcrumb__thumb" data-background="{% static 'imgs/bg/breadcrumb-bg.jpg' %}"></div>
         <div class="container">
            <div class="row justify-content-center">
               <div class="col-xxl-12">
                  <div class="breadcrumb__wrapper text-center">
                     <h2 class="breadcrumb__title">Contact</h2>
                     <div class="breadcrumb__menu">
                        <nav>
                           <ul>
                              <li><span><a href="index.html">Home</a></span></li>
                              <li><span>Contact</span></li>
                           </ul>
                        </nav>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- Breadcrumb area start  -->

      <!-- Contact area start -->
      <div class="contact-area section-space">
         <div class="container">
            <div class="row g-5">
               <div class="col-xxl-4 col-xl-4 col-lg-6">
                  <div class="contact-info-item text-center">
                     <div class="contact-info-icon">
                        <span><i class="fa-light fa-location-dot"></i></span>
                     </div>
                     <div class="contact-info-content">
                        <h4>Our Location</h4>
                        <p><a href="#">House #5, Street Number #98, brasilia- 70000-000, Brazil.</a></p>
                     </div>
                  </div>
               </div>
               <div class="col-xxl-4 col-xl-4 col-lg-6">
                  <div class="contact-info-item text-center">
                     <div class="contact-info-icon">
                        <span><i class="fa-light fa-envelope"></i></span>
                     </div>
                     <div class="contact-info-content">
                        <h4>Our Email Address</h4>
                        <span><a href="mailto:contact@DOGRI.com">contact@DOGRI.com</a></span>
                        <span><a href="mailto:support@DOGRI.com">support@DOGRI.com</a></span>
                     </div>
                  </div>
               </div>
               <div class="col-xxl-4 col-xl-4 col-lg-6">
                  <div class="contact-info-item text-center">
                     <div class="contact-info-icon">
                        <span><i class="fa-thin fa-phone"></i></span>
                     </div>
                     <div class="contact-info-content">
                        <h4>Contact Phone Number</h4>
                        <span><a href="mailto:+380961381876">+380961381876</a></span>
                        <span><a href="mailto:+380961381877">+380961381877</a></span>
                     </div>
                  </div>
               </div>
            </div>
            <div class="contact-wrapper pt-80">
               <div class="row gy-50">
                  <div class="col-xxl-6 col-xl-6">
                     <div class="contact-map">
                        <iframe
                           src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d4216.433331900906!2d90.36996032419312!3d23.83718617432321!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sbd!4v1693682874850!5m2!1sen!2sbd"></iframe>
                     </div>
                  </div>
                  <div class="col-xxl-6 col-xl-6">
                     <div class="contact-from">
                        <form action="#">
                           <div class="row">
                              <div class="col-lg-6">
                                 <div class="contact__from-input">
                                    <input type="text" placeholder="Full Name*">
                                 </div>
                              </div>
                              <div class="col-lg-6">
                                 <div class="contact__from-input">
                                    <input type="text" placeholder="Email Address*">
                                 </div>
                              </div>
                              <div class="col-lg-6">
                                 <div class="contact__from-input">
                                    <input type="tel" placeholder="Phone Number">
                                 </div>
                              </div>
                              <div class="col-lg-6">
                                 <div class="contact__from-input">
                                    <input type="date">
                                 </div>
                              </div>
                              <div class="col-lg-6">
                                 <div class="contact__select mb-20">
                                    <select>
                                       <option value="0">Pediatric Clinic</option>
                                       <option value="2">DOGRIsis Clinic</option>
                                       <option value="3">Cardiac Clinic</option>
                                       <option value="1">Medical Pharmacy</option>
                                       <option value="1">Rehabilitation Therapy</option>
                                       <option value="1">Laryngological Clinic</option>
                                    </select>
                                 </div>
                              </div>
                              <div class="col-lg-6">
                                 <div class="contact__select mb-20">
                                    <select>
                                       <option value="0">Choose Doctor</option>
                                       <option value="2">Dr. Jalen Kothenbeutel</option>
                                       <option value="3">Dr. Jade Dayal</option>
                                       <option value="1">Dr. Zander Nishida</option>
                                       <option value="1">Dr. Mattie Tellers</option>
                                       <option value="1">Dr. Jade Dayal </option>
                                    </select>
                                 </div>
                              </div>
                              <div class="col-lg-12">
                                 <div class="contact__from-input">
                                    <textarea name="Message" placeholder="Your Message"></textarea>
                                 </div>
                              </div>
                              <div class="col-12">
                                 <div class="appointment__btn">
                                    <button class="fill-btn" type="submit">
                                       <span class="fill-btn-inner">
                                          <span class="fill-btn-normal">send now<i
                                                class="fa-regular fa-angle-right"></i></span>
                                          <span class="fill-btn-hover">send now<i
                                                class="fa-regular fa-angle-right"></i></span>
                                       </span>
                                    </button>
                                 </div>
                              </div>
                           </div>
                        </form>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- Contact area end -->

   </main>
   <!-- Body main wrapper end -->

   {% endblock content %}   