{% extends 'base.html' %}
{% load static %}
{% block title %} Product Details {% endblock title %}
{% block content %}     

   <!-- Body main wrapper start -->
   <main>

      <!-- Breadcrumb area start  -->
      <div class="breadcrumb__area theme-bg-1 p-relative z-index-11 pt-95 pb-95">
         <div class="breadcrumb__thumb" data-background="{% static 'imgs/bg/breadcrumb-bg-furniture.jpg' %}"></div>
         <div class="container">
            <div class="row justify-content-center">
               <div class="col-xxl-12">
                  <div class="breadcrumb__wrapper text-center">
                     <h2 class="breadcrumb__title">Product Details</h2>
                     <div class="breadcrumb__menu">
                        <nav>
                           <ul>
                              <li><span><a href="index.html">Home</a></span></li>
                              <li><span>Product Details</span></li>
                           </ul>
                        </nav>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- Breadcrumb area start  -->

      <!-- Product details area start -->
      <div class="product__details-area section-space-medium">
         <div class="container">
            <div class="row align-items-center">
               <div class="col-xxl-6 col-lg-6">
                  <div class="product__details-thumb-wrapper d-sm-flex align-items-start mr-50">
                     <div class="product__details-thumb-tab mr-20">
                        <nav>
                           <div class="nav nav-tabs flex-nowrap flex-sm-column" id="nav-tab" role="tablist">
                              <button class="nav-link active" id="img-1-tab" data-bs-toggle="tab"
                                 data-bs-target="#img-1" type="button" role="tab" aria-controls="img-1"
                                 aria-selected="true">
                                 <img src="{{ product.image.url }}" alt="product-sm-thumb">
                              </button>
                              <button class="nav-link" id="img-2-tab" data-bs-toggle="tab" data-bs-target="#img-2"
                                 type="button" role="tab" aria-controls="img-3" aria-selected="false">
                                 <img src="{{ product.image.url }}" alt="product-sm-thumb">
                              </button>
                              <button class="nav-link" id="img-3-tab" data-bs-toggle="tab" data-bs-target="#img-3"
                                 type="button" role="tab" aria-controls="img-3" aria-selected="false">
                                 <img src="{{ product.image.url }}" alt="product-sm-thumb">
                              </button>
                           </div>
                        </nav>
                     </div>
                     <div class="product__details-thumb-tab-content">
                        <div class="tab-content" id="productthumbcontent">
                           <div class="tab-pane fade show active" id="img-1" role="tabpanel"
                              aria-labelledby="img-1-tab">
                              <div class="product__details-thumb-big w-img">
                                 <img src="{{ product.image.url }}" alt="">
                              </div>
                           </div>
                           <div class="tab-pane fade" id="img-2" role="tabpanel" aria-labelledby="img-2-tab">
                              <div class="product__details-thumb-big w-img">
                                 <img src="{{ product.image.url }}" alt="">
                              </div>
                           </div>
                           <div class="tab-pane fade" id="img-3" role="tabpanel" aria-labelledby="img-3-tab">
                              <div class="product__details-thumb-big w-img">
                                 <img src="{{ product.image.url }}" alt="">
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-xxl-6 col-lg-6">
                  <div class="product__details-content pr-80">
                     <div class="product__details-top d-sm-flex align-items-center mb-15">
                        <div class="product__details-tag mr-10">
                           <a href="{% url 'product-details-page' product.id %}">{{ product.category }}</a>
                        </div>
                        
                        <div class="product__details-rating mr-10">
                           {% for i in ratings_range %}
                           <a href="#"><i class="{% if i <= product.rating %}fas{% else %}fal{% endif %} fa-star"></i></a>
                           {% endfor %}
                        </div>
                        <div class="product__details-review-count">
                           <a href="#">{{ comment_count }} Reviews</a>
                        </div>
                     </div>
                     <h3 class="product__details-title text-capitalize">{{ product.title }}</h3>
                     <div class="product__details-price">
                        <span class="old-price">${{ product.discount_price }}</span>
                        <span class="new-price">${{ product.price }}</span>
                     </div>
                     <p>{{ product.main_information }}</p>

                     <div class="product__details-action mb-35">
                        <div class="product__quantity">
                           <div class="product-quantity-wrapper">
                              <form action="#">
                                 <button class="cart-minus"><i class="fa-light fa-minus"></i></button>
                                 <input class="cart-input" type="text" value="1">
                                 <button class="cart-plus"><i class="fa-light fa-plus"></i></button>
                              </form>
                           </div>
                        </div>
                        <div class="product__add-cart">
                           <a href="javascript:void(0)" class="fill-btn cart-btn">
                              <span class="fill-btn-inner">
                                 <span class="fill-btn-normal">Add To Cart<i
                                       class="fa-solid fa-basket-shopping"></i></span>
                                 <span class="fill-btn-hover">Add To Cart<i
                                       class="fa-solid fa-basket-shopping"></i></span>
                              </span>
                           </a>
                        </div>
                        <div class="product__add-wish">
                           <a href="#" class="product__add-wish-btn"><i class="fa-solid fa-heart"></i></a>
                        </div>
                     </div>
                     <div class="product__details-meta mb-20">
                        <div class="sku">
                           <span>SKU:</span>
                           <a href="#">{{ product.sku }}</a>
                        </div>
                        <div class="categories">
                           <span>Categories:</span> <a href="#">{{ product.category }},</a>
                        </div>
                        <div class="tag">
                           <span>Tags:</span> <a href="#"> {{ product.tags }},</a>
                        </div>
                     </div>
                     <div class="product__details-share">
                        <span>Share:</span>
                        <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                        <a href="#"><i class="fa-brands fa-twitter"></i></a>
                        <a href="#"><i class="fa-brands fa-behance"></i></a>
                        <a href="#"><i class="fa-brands fa-youtube"></i></a>
                        <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
                     </div>
                  </div>
               </div>
            </div>
            <div class="product__details-additional-info section-space-medium-top">
               <div class="row">
                  <div class="col-xxl-3 col-xl-4 col-lg-4">
                     <div class="product__details-more-tab mr-15">
                        <nav>
                           <div class="nav nav-tabs flex-column " id="productmoretab" role="tablist">
                              <button class="nav-link active" id="nav-description-tab" data-bs-toggle="tab"
                                 data-bs-target="#nav-description" type="button" role="tab"
                                 aria-controls="nav-description" aria-selected="true">Description</button>
                              <button class="nav-link" id="nav-additional-tab" data-bs-toggle="tab"
                                 data-bs-target="#nav-additional" type="button" role="tab"
                                 aria-controls="nav-additional" aria-selected="false">Additional Information </button>
                              <button class="nav-link" id="nav-review-tab" data-bs-toggle="tab"
                                 data-bs-target="#nav-review" type="button" role="tab" aria-controls="nav-review"
                                 aria-selected="false">Reviews ({{ comment_count }})</button>
                           </div>
                        </nav>
                     </div>
                  </div>
                  <div class="col-xxl-9 col-xl-8 col-lg-8">
                     <div class="product__details-more-tab-content">
                        <div class="tab-content" id="productmorecontent">
                           <div class="tab-pane fade show active" id="nav-description" role="tabpanel"
                              aria-labelledby="nav-description-tab">
                              <div class="product__details-des">
                                 <p>{{ product.description|safe }}</p>

                              </div>
                           </div>
                           <div class="tab-pane fade" id="nav-additional" role="tabpanel"
                              aria-labelledby="nav-additional-tab">
                              <div class="product__details-info">
                                 <ul>
                                    <li>
                                       <h4>Weight</h4>
                                       <span>{{ product.weight }}</span>
                                    </li>
                                    <li>
                                       <h4>Dimensions</h4>
                                       <span>{{ product.dimension }}in</span>
                                    </li>
                                    <li>
                                       <h4>Product</h4>
                                       <span>{{ product.purchased_place }}</span>
                                    </li>
                                    <li>
                                       <h4>Color</h4>
                                       <span>{{ product.color }}</span>
                                    </li>
                                    <li>
                                       <h4>Size</h4>
                                       <span>{{ product.size }}</span>
                                    </li>
                                    <li>
                                       <h4>Model</h4>
                                       <span>{{ product.model }}</span>
                                    </li>
                                    <li>
                                       <h4>Shipping</h4>
                                       <span>{{ product.shipping }}</span>
                                    </li>
                                    <li>
                                       <h4>Care Info</h4>
                                       <span>{{ product.care_info }}</span>
                                    </li>
                                    <li>
                                       <h4>Brand</h4>
                                       <span>{{ product.brand }}</span>
                                    </li>
                                 </ul>
                              </div>
                           </div>
                           <div class="tab-pane fade" id="nav-review" role="tabpanel" aria-labelledby="nav-review-tab">
                              <div class="product__details-review">
                                  <h3 class="comments-title">{{ comment_count }} reviews for “{{ product.title }}”</h3>
                                  <div class="latest-comments mb-50">
                                      <ul>
                                          {% for comment in comments %}
                                          <li>
                                              <div class="comments-box d-flex">
                                                  <div class="comments-avatar mr-10">
                                                      <img src="{% static 'imgs/user/user-01.png' %}" alt="">
                                                  </div>
                                                  <div class="comments-text">
                                                      <div class="comments-top d-sm-flex align-items-start justify-content-between mb-5">
                                                          <div class="avatar-name">
                                                              <h5>{{ comment.name}}</h5>
                                                              <div class="comments-date">
                                                                  <span>{{ comment.create_date|date:"F j, Y g:i a" }}</span>
                                                              </div>
                                                          </div>
                                                          <div class="user-rating">
                                                            <ul>
                                                                {% for i in ratings_range %}
                                                                    <li><a href="#"><i class="{% if i <= comment.rating %}fas{% else %}fal{% endif %} fa-star"></i></a></li>
                                                                {% endfor %}
                                                            </ul>
                                                        </div>                                                        
                                                      </div>
                                                      <p>{{ comment.comment }}</p>
                                                  </div>
                                              </div>
                                          </li>
                                          {% endfor %}
                                      </ul>
                                  </div>
                          
                                  <div class="product__details-comment section-space-medium-bottom">
                                      <div class="comment-title mb-20">
                                          <h3>Add a review</h3>
                                          <p>Your email address will not be published. Required fields are marked *</p>
                                      </div>
                                      <div class="comment-input-box">
                                          <form method="post" action="{% url 'product-details-page' product.id %}">
                                              {% csrf_token %}
                                              {{ form.as_p }}
                                              <div class="comment-submit">
                                                  <button type="submit" class="fill-btn">
                                                      <span class="fill-btn-inner">
                                                          <span class="fill-btn-normal">Submit now</span>
                                                          <span class="fill-btn-hover">Submit now</span>
                                                      </span>
                                                  </button>
                                              </div>
                                          </form>
                                      </div>
                                  </div>
                              </div>
                          </div>                          
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- Product details area end -->

   </main>
   <!-- Body main wrapper end -->

   {% endblock content %}     