{% extends 'base.html' %}
{% load static %}
{% block title %} Profile {% endblock title %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/users.css' %}">
{% endblock css %}

{% block content %}
    <form id="profileForm" action="{% url 'profile-page' request.user.id %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="profile-container">
            <div class="profile-sidebar">
                <img src="{% if request.user.image %}{{ request.user.image.url }}{% else %}{% static 'default_profile.png' %}{% endif %}" 
                     alt="Profil rasmi" id="profileImg" style="border-radius:50%;">
                <h4 id="profileName">{{ request.user.first_name }} {{ request.user.last_name }}</h4>
                <ul>
                    <li class="active">Ma'lumotlarim</li>
                </ul>
            </div>
            <div class="profile-content">
                <h3>Ma'lumotlarim</h3>
                <div class="form-group">
                    <label for="profileImage">Rasm yuklash</label>
                    <input type="file" id="profileImage" name="profile_image" accept="image/*">
                </div>
                <div class="form-group">
                    <label for="familya">Familiya*</label>
                    <input type="text" id="familya" name="last_name" value="{{ request.user.last_name }}" required>
                </div>
                <div class="form-group">
                    <label for="ism">Ism*</label>
                    <input type="text" id="ism" name="first_name" value="{{ request.user.first_name }}" required>
                </div>
                <div class="form-group">
                    <label for="tugilganSana">Tug'ilgan sana</label>
                    <input type="date" id="tugilganSana" name="birth_date" value="{{ request.user.birth_date|date:'Y-m-d' }}">
                </div>
                <div class="form-group">
                    <label for="email">Elektron pochta*</label>
                    <input type="email" id="email" name="email" value="{{ request.user.email }}" readonly required>
                </div>
                <div class="form-group">
                    <label for="telefon">Telefon raqami*</label>
                    <input type="text" id="telefon" name="phone_number" value="{{ request.user.phone_number }}" readonly required>
                </div>
                
                <button type="submit" id="editBtn" style="background-color: green; color: white;">Save</button>
            </div>
        </div>
    </form>

    {% block js %}
    <script src="{% static 'js/script.js' %}"></script>
    {% endblock js %}
{% endblock content %}
